asttokens==2.2.1
backcall==0.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
colorama==0.4.6
comm==0.1.2
contourpy==1.0.7
cryptography==39.0.0
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
dill==0.3.5.1
executing==1.2.0
fastdtw==0.3.4
fonttools==4.38.0
idna==3.4
ipykernel==6.20.2
ipython==8.9.0
jedi==0.18.2
joblib==1.2.0
jupyter_client==8.0.1
jupyter_core==5.1.5
kiwisolver==1.4.4
matplotlib==3.6.3
matplotlib-inline==0.1.6
mpmath==1.2.1
nest-asyncio==1.5.6
ntlm-auth==1.5.0
numpy==1.24.1
packaging==23.0
parso==0.8.3
pbr==5.11.1
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.6.2
ply==3.11
prompt-toolkit==3.0.36
psutil==5.9.4
pure-eval==0.2.2
pycparser==2.21
Pygments==2.14.0
pyparsing==3.0.9
python-dateutil==2.8.2
pywin32==305
pyzmq==25.0.0
qiskit==0.40.0
qiskit-aer==0.11.2
qiskit-ibmq-provider==0.19.2
qiskit-machine-learning==0.5.0
qiskit-terra==0.23.0
requests==2.28.2
requests-ntlm==1.1.0
rustworkx==0.12.1
scikit-learn==1.2.1
scipy==1.10.0
six==1.16.0
sklearn==0.0.post1
stack-data==0.6.2
stevedore==4.1.1
sympy==1.11.1
threadpoolctl==3.1.0
tornado==6.2
traitlets==5.8.1
urllib3==1.26.14
wcwidth==0.2.6
websocket-client==1.5.0
websockets==10.4
